<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="save_custom_fee_in_quote" type="Magecomp\Extrafee\Plugin\Checkout\Model\ShippingInformationManagement" sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Api\OrderItemRepositoryInterface">
        <plugin name="magecomp_extrafee_add_order_extension_attribute" type="Magecomp\Extrafee\Plugin\OrderItemRepositoryPlugin" />
    </type>
</config>
