<?xml version="1.0"?>
<!--
  ~ Copyright (c) On Tap Networks Limited.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="click_tracking_order_repository_plugin" type="OnTap\ClickTracking\Plugin\OrderRepositoryPlugin"/>
    </type>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="sales_order_grid_data_source" xsi:type="string">OnTap\ClickTracking\Model\ResourceModel\Order\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="OnTap\ClickTracking\Model\ResourceModel\Order\Grid\Collection">
		<arguments>
			<argument name="mainTable" xsi:type="string">sales_order_grid</argument>
			<argument name="resourceModel" xsi:type="string">Magento\Sales\Model\ResourceModel\Order</argument>
		</arguments>
	</type>
</config>
