<?xml version="1.0"?>
<!--
  ~ Copyright (c) On Tap Networks Limited.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ontapProductImportDealFromUrl" xsi:type="object">OnTap\ProductImport\Console\Command\ImportDealFromUrl</item>
                <item name="ontapProductImportDeals" xsi:type="object">OnTap\ProductImport\Console\Command\ImportDeals</item>
            </argument>
        </arguments>
    </type>
    <type name="OnTap\ProductImport\Console\Command\ImportDeals">
        <arguments>
            <argument name="logger" xsi:type="object">dealsFeedConsoleLogger</argument>
        </arguments>
    </type>
    <virtualType name="dealsFeedConsoleLogger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">DealFeed</argument>
            <argument name="handlers" xsi:type="array">
                <item name="0" xsi:type="object">consoleOutputHandler</item>
                <item name="1" xsi:type="object">OnTap\ProductImport\Logger\LogFile</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="consoleOutputHandler" type="Monolog\Handler\StreamHandler">
        <arguments>
            <argument name="stream" xsi:type="string">php://stdout</argument>
            <argument name="level" xsi:type="const">Monolog\Logger::DEBUG</argument>
        </arguments>
    </virtualType>
</config>
