<?xml version="1.0" ?>
<!--
  ~ Copyright (c) On Tap Networks Limited.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <group id="geoip" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GeoIp Clearance Rules</label>
                <field id="allowed_country_ids" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed country codes</label>
                    <comment>ISO codes, comma separated</comment>
                </field>
            </group>
        </section>
    </system>
</config>
